discord.py[voice]
requests
pytz
Pillow
fake_useragent
python-dateutil
asyncpraw

# git+https://github.com/Rapptz/discord.py
# git+git://github.com/ExtraRandom/Game_Stores_API
# mcstatus
# beautifulsoup4